.ui-autocomplete {
            max-height: 450px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: white;
            padding: 12px 16px;
        } 

.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:227px;
}

.ui-menu .ui-menu {
        margin-top: -3px;
}

.ui-menu .ui-menu-item {
    color: #000000;
    border-radius: 0px;
    border: 1px #ffffff;
              position: relative;
              background-color: white;
              padding: 12px 16px;
              outline-color: aquamarine;
}

.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding: 12px 16px;
        line-height:1.5;
        zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover
{
    border-color: gray;
    background-color: aquamarine;
}

.ui-menu .ui-menu-item a.ui-state-active 
{
    border-color: gray;
    margin: -1px;
    background-color: aquamarine;

}

.ui-menu .ui-menu-item a.ui-state-click 
{
    background-color: aquamarine;


}